.header {
    background-color: #333333;
    color: white;
    width: 100%;
}

.header_menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 24px;
}

.header_logo {
    font-size: 24px;
    margin-right: 16px;
}

.header_menu_options {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header_menu_option {
    margin-right: 32px;
    text-transform: capitalize;
}

.header_menu_option:last-child {
    margin-right: 0px;
}

.header_menu_option--selected {
    color: #55b4cb;
}

.header_contact{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.header_contact_title{
    color: #55b4cb;
    font-size: 12px;
}

.header_content {
    align-items: center;
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header_content_title {
    font-size: 44px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header_content_text {
    max-width: 430px;
}

.header_content_buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}

.header_content_button {
    background-color: #151515;
    margin-right: 16px;
    padding: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
}

.header_content_button :last-child {
    margin-right: 0px;
}

.header_content_button--selected {
    background-color: #55b4cb;
    width: 100px;
}